<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @code.titulo %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @code.codigo %>
</p>

<%= link_to 'Edit', edit_code_path(@code) %> |
<%= link_to 'Back', codes_path %>
